{% load static %}
<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Unity WebGL Player | TowerTest</title>
    <link rel="shortcut icon" href="{% static 'game/TemplateData/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'game/TemplateData/style.css' %}">
    <script src="{% static 'game/TemplateData/UnityProgress.js' %}"></script>
    <script src="{% static 'game/Build/UnityLoader.js' %}"></script>
    <script>
      var gameInstance = UnityLoader.instantiate("gameContainer", "{% static 'game/Build/WebGLSubmission.json'%}", {onProgress: UnityProgress});
    </script>
  </head>
  
  <body>
    <div class="webgl-content">
      <div id="gameContainer" style="width: 960px; height: 600px"></div>
      <div class="footer">
        <div class="webgl-logo"></div>
        <div class="fullscreen" onclick="gameInstance.SetFullscreen(1)"></div>
        <div class="title">TowerTest</div>
      </div>
    </div>
  </body>
</html>